<div class="banner ig-amaro" id="block" style="background: url(<%= image_url('home.jpg') %>);">
  <%= render 'shared/navbar' %>
  <div class="banner-content">
    <h1>Bienvenue sur Photo Market.</h1>
    <h2>Votre galerie d'art en ligne.</h2>
  </div>
    <a href="#block1" class="banner-arrow"><i class="fa fa-angle-down"></i></a>
</div>
<div class="wrapper-grey">
  <div class="container" id="block1">
    <div class="row">
      <h2 class="text-center align">COMMENT CELA FONCTIONNE ?</h2>
    </div>
    <div class="row marged">
      <div class="col-sm-4">
        <p class="text-center"><%= image_tag 'gallery.svg', :class => 'img-home' %></p>
        <p>Vous choisissez une photographie proposée par un des artistes au sein notre galerie.</p>
      </div>
      <div class="col-sm-4">
        <p class="text-center"> <%= image_tag 'size.svg', :class => 'img-home ' %> </p>
        <p>Vous sélectionnez la taille de votre cadre parmi les nombreux formats disponibles pour l'impression.</p>
      </div>
      <div class="col-sm-4">
        <p class="text-center"> <%= image_tag 'truck.svg', :class => 'img-home' %> </p>
        <p>Nous vous livrons gratuitement l'oeuvre choisie et vous offrons le retour si vous n'êtes pas satisfait.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-5">
      <div class="adjust">
        <h3 class="text-center">NOS PHOTOGRAPHES</h3><br>
        <p>Garants de la qualité de notre service, ils sont soigneusement sélectionnés par nos équipes et ont fait d'une passion leur métier.</p>
        <p>Vous êtes photographe et souhaitez participer à l'aventure ?</p>
      </div>
    </div>
      <div class="col-sm-7 photo img-responsive ig-mayfair hidden-xs" style="background: url(<%= image_url('photographer.jpg') %>);">
    </div>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 photo img-responsive ig-mayfair hidden-xs " style="background: url(<%= image_url('gallery.jpg')%>);"></div>
      <div class="col-sm-5">
        <div class="adjust">
          <h3 class="text-center">NOTRE SERVICE</h3><br>
          <p>Nous souhaitons vous faire accéder à l'art de la photographie à travers des galeries enrichies chaque jour par nos artistes.</p>
          <p>Ils sont soigneusement séléctionnés pour leur qualité d'expression artistique.</p>
          <p>Vous pouvez choisir lors de votre achat le format du tirage selon le nombre d'exemplaires disponibles.</p>
          <p>Vous recevez un certificat d'authenticité délivré par le laboratoire et l'artiste.</p>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="block2">
  <div class="row padded">
    <div class="col-sm-6 col-sm-offset-3 wrapper-grey">
      <h3>NE RATEZ PAS NOTRE LANCEMENT !</h3><br>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      <div class="form-group">
        <%= f.input :firstname, required: true, label: false, autofocus: true,placeholder: "Votre Prénom" %>
      </div>
      <div class="form-group">
        <%= f.input :lastname, required: true, label: false, autofocus: true,placeholder: "Votre Nom" %>
      </div>
      <div class="form-group">
        <%= f.input :is_photograph, as: :radio_buttons, collection: [['Client', false],
        ['Photographe', true]], label: 'Vous êtes intéressé par notre plateforme entant que :' %>
      </div>
      <div class="form-group">
        <%= f.input :email, required: true, label: false, autofocus: true,placeholder: "Votre Email" %>
      </div>
      <div class="form-group">
          <%= f.input :password, required: true,label: false, placeholder: "Votre Mot de Passe",  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="text-center">
            <%= f.button :submit, "JE M'INSCRIS", class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
